:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://loremflickr.com/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.container {
    margin-top: 2em;
}

/*--- Nav bar-----------*/
.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1; /* put floated profile image in the flow so it wouldn't cover the nav bar when scrolling */
}
.nav {
    justify-content: space-around;
    list-style-type: none;
    padding: 1.5em;
    margin: 0 auto;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.nav-item {
    display: inline-block; /*---horizontal nav bar */
    padding: 1.5em;
}
.profile {
    background: var(--light-bg);
    height: 80px;
}
.profile-form {
    float: right;
    line-height: 80px;
}
.profile-items {
    list-style: none;
    padding: 0;
}
.profile-image {
    position: absolute;
    top: 250px;
}

/*--- 3 Columns -------------*/
.profile-details,
.timeline,
.who-to-follow {
    float: left;
}
.profile-details {
    width: calc(25%- 1em);
    margin: 0 .5em;
}
.timeline {
    width: calc(50%- 1em);
    margin: 0 .5em;
}
.who-to-follow {
    width: calc(25%- 1em); /* property: calc(expression (width-margin)) */
    margin: 0 .5em;
}


.profile-items {
    list-style: none; /* removed bullets */
    padding: 0;
}
.profile-entry {
    margin: .5em;
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.media {
    width: 100%;
    background: var(--light-bg);
    border-bottom: 1px solid var(--separator-color);
    padding: .5em;
    overflow: auto;
}
.media-image {
    max-width: 50px;
    float: left;
    margin-top: 1.33emt;
}
.media-body {
    width: calc(100%- 50px);
    float: left;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right { /*- aligning Edit button on right */
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}