
body {
    background: gainsboro;
}

div {
    margin-top: 5px;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 500px;
}

.calculator {
    width: 350px;
    height: 450px;
    background-color: dimgray;
    border-radius: 50px;
    border-color:  black;
    border-width: 2px;
    border-style: solid;
}

.buttons {
    margin-top: 35px;
}
